
body{
   background-color:#2f6df6;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 4px 0;
   padding: 8px 12px ;
   color: rgb(85, 84, 84);
   cursor: pointer;
   border: none;
   border-radius: 5px;
   transition: 0.2s;
}



.products{
   display: flex;
   justify-content: center;
   align-items: stretch;
   gap:40px;
   padding: 40px;
      flex-wrap: wrap;
   /* margin: 0 auto; */
 }


    .card{
      background-color: blanchedalmond;
      text-align: center;
      padding: 15px;
      width: 250px;
      border: solid 1px azure;
      margin-top:25px ;
      border-radius:8px ;
      box-shadow:0 6px 8px rgba(0, 0,0, 0.08 );
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }


   img{
      width: 220px;
   }




.card h3{
   margin:10px 0 5px ;
}



  .card img{
 width: 100%;
 height: 180px;
 object-fit: contain;
  }


    .card p{
      font-weight: bolder;
      color: #444 ;
      margin: 5px 0;
    }

 button{

   cursor: pointer;
   transition: 0,3s;

   font-weight: bolder;
 }



 button:hover{
background-color: #1e4ed8;
   transform:scale(1.05);

 
 } 
